<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <app-grafico-donut [chartLabels]="graficos.grafico1.labels" [chartData]="graficos.grafico1.data" [chartType]="graficos.grafico1.type"></app-grafico-donut>


            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <app-grafico-donut [chartLabels]="graficos.grafico1.labels" [chartData]="graficos.grafico1.data" [chartType]="graficos.grafico1.type"></app-grafico-donut>


            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <app-grafico-donut [chartLabels]="graficos.grafico1.labels" [chartData]="graficos.grafico1.data" [chartType]="graficos.grafico1.type"></app-grafico-donut>

            </div>

        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <app-grafico-donut [chartLabels]="graficos.grafico1.labels" [chartData]="graficos.grafico1.data" [chartType]="graficos.grafico1.type"></app-grafico-donut>


            </div>
        </div>
    </div>
</div>